html, body {
    min-height: 100%;
}

body {
    background-image: url("../images/bg-spa.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.obli {
    font-style: oblique;
}

.bold {
    font-weight: bold;
}

.space-top {
    padding-top: 70px;
}

.data-point {
    font-size: 3rem;
    font-weight: bold;
    font-family: "arial black", helvetica, arial, sans-serif;
    letter-spacing: -3px;
    color: black;
}

.hidden {
    display: none;
}

.bg-nav {
    background: rgba(128, 128, 128, .5);
}

.red {
    color: #ff0000;
}

#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

#categoryName {
    background-color: #ffe6ee;
    width: 350px;
}